<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>CRUD NODE</title>
  <style>
    body {
      width: 100%;
      align-content: center;
      align-items: center;
      background-image: url("https://i.pinimg.com/originals/46/fc/ea/46fceacf44dcc4ee00501ca2891d9814.jpg");
      background-repeat: no-repeat;
    }
    h1 {
      text-align: center;
      width: 350px;
      padding: 15px 20px;
      border: 1px solid #0000;
      border-radius: 6px;
      background-color: #efefef;
      font-size: 18px;
    }
    .efi {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 100vh;
    }
    button {
      width: 350px;
      padding: 15px 20px;
      border: 1px solid #0000;
      border-radius: 6px;
      background-color: #efefef;
      font-size: 18px;
    }
  </style>
</head>

<body>
  <div class="efi">
    <h1>Ação Concluída</h1>
    <a href="/">
      <button>retorno</button>
    </a>
  </div>
</body>

</html>